language: python
python:
- '3.6'
install:
- pip install ansible==2.5.0 molecule apache-libcloud pycrypto
script:
- molecule create
- molecule converge
- molecule verify
after_script:
- molecule destroy
before_install:
- openssl aes-256-cbc -K $encrypted_baa9c32b04e7_key -iv $encrypted_baa9c32b04e7_iv
  -in credentials.tar.gz.enc -out credentials.tar.gz -d
- tar -xzvf credentials.tar.gz
- mv google_compute_engine /home/travis/.ssh/
- chmod 0600 /home/travis/.ssh/google_compute_engine
env:
  matrix:
  - GCE_CREDENTIALS_FILE="$(pwd)/client-secret.json"
  global:
  - secure: aavun9ubtHzcQqIYcxBbgzpI9f174qH6KII7uN6IfcGbURbbW+4xWbLkkBrLvleWWOr2na0fIXtDPQWnaFDOeZnS08TowqzxwzPxnlsNu4i3U5MynTkUaMspAxbW+O1WTe8wTvfFPCx3uu8FKFSzyQy28YrdAYhehdtlGdXTF8M0TCcIwWoXkA5aTzGPiIpss/WbKEB5Z3JiwypmRWyoHWnvZoEKLxtzj4tJzCP9mo2uuu2XsrI/0GzcoqKVhcWdbrX07L3galqcXiMeYLdDEP+OMrplzwaW60Ibb2/WHjMvJeghGnFee899GjKxIzCwHqSlA1Nf5ydPoceR0YeL83vJ1s9ps8j0tDR8JwY6/t3qQwmTJGLVQejqFvw2+i1MZpngby0xoHgB+6mYEgrQ13Fwatjs2Y5tPTpJtL8OjUmnqxBuH5q5N2RdlZsNPe/K5STkF+IazWZBC7nRtCHDTS9B+a+J/RsidHNA6pw2YPwvQSeJeEbqP/3qCk2JQ6ve09qqTEyjLbt/kofZKf/vRIxJ0+9YRDnwjwaNtXwEUNckFXLJ+fL6hoviMpQgXS97aDEbVjpM7q8NiAoc9otSCM/WNA1PySuuiIt/xS4ex1DOeZygUnRV5QlH6bLH3Fg7+6j0/YecgXWP+xh8/Y2c4ba2rYW7ii9X4rlKBy5SF0w=
  - secure: otDhOFp/xGitoFgv6Qy1e+Ikf8+yoIs9bYhKVE/i5rYT+RXI55qfEALU3reSOXE8tsjY1OMsYB6cn6KlkrR7LkfrnQ6uofpY/jWooHHv2AMJg7Dz0SGDBMd7KDKmz8DnI/0BiN5x/1yZ8pnzCPxbUmPn4iLxtAOfnSH/6kaxkLM5rIFGo6wljpc8WMDPx66cZKWRgiRjRJKVhbDJ6J/HKm//HNfGDnhDd6UvJlpSBwQxOHkkC/LIw8F+htJ5YDkkItS1mxfaIRmSmEihQRpr2ImbqSCXcN39DODcoHjQ5ywcBTCiD+fQb6BVjwXY8m2eu3IyHOWbpIEtzrvHF4yB2ARlgpC43/S9bpZ+ttffwIP6pjsSsruDyL/0bThVOSJuT1bfiHyBC97at0Aqqwtroz0ilGo6qTTjwS8UEZD1fHDIn5GBRCW78ccr+hBT8sBCq5yIkEx27VTZRTsDcM9rTkH27NXeAJ+6iwoOkXs4aSn40YjZqCrMmdZnTba1NdXWi9nYn4x9mh1DieVUbZn+q5CsU2NZEui7DnR/gVTS9XcjIGZrL+TF+H7ZmuI9uDXERhFrvlPq7NBs1cdVZdNJKkLiftdbzch+nMy0FmXD4LSCgGf97U9+MzQeg7WfSqboMGBTP9yWub78OOqKHwSjkYeUnZ3qfRU0qnRhwzorJcM=
  - secure: qFNAKqkiNECSNzlu9s0pomP5nop6PHH2vZNukuCl6GthdmtzE+k7YQb7y/10r7JasvsRgxlQKTIEbHxKq0jiz6RNqKL/FCQ5Bm76U5KmfB5WZeK16azEHz5LBwYBzzuTYAVaYmd+z/M9/bpVbys1Mo04/UioINF/dhX4/oGdtPMYYwiIdBlNVrNY/488IbqpK5tiY2mPbmCGs2JVCP188uBGmcTwL3XgwOuXT44RcAQwIidkjqfxnJp3czrPf4q9TmOJvuW4ReVPp6uRLAXOzHLUnC9TeJgpDNnMScPhuSMCLRFhajP7STV2XrlnHDRCISgLGem5G1AL6mICZX+K4etgKYGxfwObS4sbPAHIZJZYnOLBbYyUCNlEBpUHiUtkrgHGjgMG1Xp0W5Kzh6Pv4E57PeMDE7PRsxxjnLV7NsbIK1KDaKTK1R9OGUcZAahUszuGqK35OC+L5FgC/GarKCWByydmObUReCdIL2IKhwdEono0cKv4YDPeTY/mWcf+pYzST+ed9axP+QcLa1+tFodpDoc4gcjDQ9CDwgzCA2ifJ0TmK5seEy446caEd3kS8KdCkJOfp/9KED55uYFftDn+mFZu8TMaU7Qbfk81wLypoeDcobfn4mchyqG/FPka25I5LeNy1MH9Nt3eiQ0taAsInCeeRvdouVZithivPfM=
