language: python
python:
- '3.6'
install:
- pip install ansible==2.4.0 molecule apache-libcloud pycrypto
script:
- molecule --debug create
- molecule converge
- molecule verify
after_script:
- molecule destroy
before_install:
- openssl aes-256-cbc -K $encrypted_55ab73f1a842_key -iv $encrypted_55ab73f1a842_iv
  -in credentials.tar.gz.enc -out credentials.tar.gz -d
- tar -xzvf credentials.tar.gz
- pwd
- ls -l
- mv google_compute_engine /home/travis/.ssh/
- chmod 0600 /home/travis/.ssh/google_compute_engine
env:
  matrix:
  - GCE_CREDENTIALS_FILE="$(pwd)/client-secret.json"
  global:
  - secure: Q9JTXZOgHQ/kzJm89qSggLdOG9U5VuWYT9P4fKlBXXbZbbpI4StQu0PUJ4m35ECeUa7782IrrB+/VbiCXnormRv/iJLrDxAQDGmewbeX0c1/fWFIj91CgqFG5znaVfZRXcfiT30+XhZT/rz3PHIziiP5JMw/4pJBqNGGpuMzm2r5oRKT3R0cqcjp/THJ1QESmh92eqs1Fpq2h++vkGJPD7WVVYpIqQ0rs3rLeGYuHZcuR0gjwe0tzb+4UBBZwlo3LQdOxHqe0qNRRoDkUopRlO0KhZbiORxAttd9TjKUGwnyv55fUoArh+2qeCpVzqSEjwuW2jCtDKNlLfHAWzpdRHEv3TiQKzNjRo3DfHj9wG85uRq+djHvnyrrxFVX+ePudryYY/OwU+MgTKA6kIb/U1vutj4qG/tSfUSaL8nGJGPGY61jmXcuAnGbXj579tdxe317KXMOx0UKBsi8jS13eTuGqN4lRCEyadpmkDhTizgocDB1FObecVHjr9uG2m5Dvdai5n4q9sZ18wxCZqZsg+VuW2TTW2pZRly0k55rXF/3zPwHudMtd6GKLcFJTd8OVaJb/XMENewIUHBmHrt61+xGQqXS50j8RKkp9xcNP28yqY6JKHQ8/mHKKqOfqfsWVmp2xpWKhxcTvqFEk/UjawNsl4tFN281OpTTyLw8lU8=
  - secure: bUwN5sYC+goO+uRiG6H/5kFJh03Z6cm0r2lIs2TaePWdY6Ci3CFq7ZiNjo4rQCmkYKeNWW2S+oYGEg+SEanrk2qtS9HwvProRVUl1ddqvxcV4d9lBZkaQZwf4jKPzS8aJEJfp9VIUCy+wG3iQUVHjICe4jNuVD0MkylKDBwqiDAPTfNvVkxRxHveuyOTk3Mqd7loT9WsccLbn9tB3I0sC51wu3SFRm8QFd4Nu2FcQGqf4GIee2N/TnB/SiuNwARo+g2sd7DKmvTIDYAGRZTV8ZosWD1ldh48o2HFsDWcUXmdUm46nlqA9rHDUjFQW8qeCEB6Zc09CMNPn3pbpIZBHwRuQurz601onjYsBuJXhHE1qgbkzYTuKtIoaLF4kgkiKT3GVrd8ewW7DY+lis9nti3yP23z2JcAS73PoFu0FO7leKjHcUG5ZySq1dtQB5yeNikvZKIaW8l1GYF9h0DZV+xMbG7y00SaRS8CURRcPOmeE7zCrl8n4biVd0JAOkmi4JNfWEcdcjfvyk2QbNJAOH/CtbzqDck/WWnNByr5po1CfdT6KDRHhgkr0qD0Gd/jbTnfJh9umiyLft/FjaqBYMVow564mFXTjW+Ei0TwrdWKaXRAq6cJbQqUffrFP1kZf/4Wsb3O0oFLEacKfZB8XBwfdmijPik5AuyDHJDg05M=
  - secure: J7raHV4AffPkJGhAcl7rsu1MtrXk4eDx1sEEaH05rQq0Ip+r7S6ERXrhWX9N4tKImLQJYdRx4yme4yECzNh3etlmsPMI2UgNtQz/mxg9v+ZcQAwwxrfrzCrCWPEkJtZw5gudvt6z879BreyALbg6tlv+V1245kbfv4fTTj4YdCflfmdQVNQhWb1vHY6TzU69QOfaV68JwJVkOJm8HC5ojEgJab+XvHwScfawPckZ0z2oueFMpyMwvUlzdI2Z5qbKEXVZqDnDzdpKSTY073DlNnSz0gd2dNVZKA2EBTjCluhLMADr59u7eE8RuPXH1OSLAsrOzzZIaJhYWMbdtWJIHSW4UhTVmVB/htA+7lY1xT7kHMyszJZwKsoyvrY9Qa6A/6G4BZ4nW8tDDWBR3nWjk509JXoNkHQiWuUUnUkNaF+j7c1dT7igGtCG4pqcdw2k/f91CySzX7S0Ckjl/m6H0ObbQCV+QAadiltX68J5kMASh2BjjbD+2Qf7DOOGP/f1zwU9KUxU3AVFtvlCDj1OTyKAyTNlZ4SZZUJX6NBI7QLDEvfn/5RfthDfkG4Y9lvg1CHmCg2HxcLX8tPcUgcRAIbHU5AueGqxw62ztbREPcBVcpIZDr+a5RpgUjSSJ7wByyX0DE4ZLhaLxrHKyVrK4lkgxBW65/gfUtrE8PyDXwo=
