language: python
python:
- '3.6'
script:
- echo $MY_SECRET_ENV
- env
env:
  global:
    secure: xItf8hKtWU8pHocJbt5QV5N8v94C+q318r73qr4U9bN1gxhPp1jAy67ZXOOYap7Kt+zY9fEg9YU8vmC10h0+mBURCTXPreFA/cZJqjJHytg4EwAR3o2Ob7HDIWsKDdN80zVEmeA1A0/oK2wt1P6TlLCRnbIb1Hcpk6ngWGy5BRWYlf3zrof4nFcNYakNCMTmMPqHLmz+puJ43/WllJxXTKffUgQGgibTOxoJSZoZ0EU5nxCpmLBmDf6209HH9cQjtYgq/W/6TJw1bd0ptvYyIPBqVHdq450mlMwnNRoLql0KmY0DkOk++BF4JL1JByXEwcfy3qOhQ9ZPYAolWFOy4RwPQPf9ccwNgPvxLNk3OgZoFUpylkak6lQrdAgcJ96nqsnenJnNk+imSaEPxITaVcGA7gufL4YFGlAhZfuzLhgvHBahqAGMum8iQg7uKrmyeTL1fe2e0955mLBH2z9/zEtfPkFaOSeKqeLWGZOZtl0x/cIIn0kxnRgVve+EGyc/por5n9fYphMcH/hVWz5yead+ZAxeW/B7s2ayESZsuZRjHq36bGHoJxkJFRccTat+jN67vgkGdIgZ8mZ/WG034mMlF3VNSossV73WZTIga0uUZRnsGCKzPlb86IfcJ9RXjC8BTTkrgx+Ge94IpSdKznV3B8+bHWSH58a9MWWiYBM=
